
.ItemsStyle {
    display: grid;
    grid-template-columns: 320px 320px;  
    grid-auto-rows: 240px;
    column-gap: 2px;
    row-gap: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Item1 {
    background-color: aqua;
    border: solid;
    border-color: #20C080;
}

.Item2 {
    border: solid;
    border-color: #20C080;
}

.Item3 {
    border: solid;
    border-color: #20C080;
}

.Item4 {
    background-color: aqua;
    border: solid;
    border-color: #20C080;
}

.pagination {
    list-style: none;
    justify-content: center;
}